.basket-item {
    display: grid;
    border: 2px solid green;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 10px 10px;
    padding: 20px;
    background-color: #FAEBD7;
    color: #333333;
    border-radius: 5px;
    box-shadow: 6px 6px 3px #222222;
    font-size: 1.5em;
    font-weight: bold;
}

.basket-item > div {
    min-height: 50px;
    align-items: center;
    justify-content: center;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    text-align: center;
}

.empty-basket {
    margin: 20px auto;
    text-align: center;
    color: #FAEBD7;
}

.confirm {
    margin: 20px auto;
    padding: 20px;
    background-color: #FAEBD7;
    border: 2px solid green;
    color: #333333;
    border-radius: 5px;
    box-shadow: 6px 6px 3px #222222;
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    ;
}

.confirm:active {
    transform: translateY(4px);
}

.quantity {
    display: inline-block;
}

.quantity-button {
    text-align: center;
    background-color: #FAEBD7;
    border: 1px solid green;
    border-radius: 50%;
    box-shadow: 3px 3px 1px #222222;
    font-weight: bold;
    margin: 0 20px;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

.quantity-button:active {
    transform: translateY(3px);
}