.item {
  display: grid;
  grid-template-columns: 640px 1fr;
  grid-template-rows: 1fr;
  margin: 20px;
  padding: 20px;
  background-color: #FAEBD7;
  color: #333333;
  border-radius: 5px;
  box-shadow: 6px 6px 3px #222222;
}

@media only screen and (max-width: 900px) {
  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.grid-img {
  border-radius: 20px;
  width: 640px;
  height: 480px;
  box-shadow: 6px 6px 3px #333333;
}

.row {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.props {
  text-align: center;
}

.props > * {
  margin: 0 30px 50px 30px;
}

.error {
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}

.button {
  background-color: #FAEBD7;
  color: #333333;
  border: 2px solid green;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
}

.button:hover {
  background-color: #333333;
  color: #FAEBD7;
  outline: none;
  cursor: pointer;
}

.button:active {
  transform: translateY(4px);
}

